.remove-btn {
  margin-right: 0.5rem;
}

.margin-left-auto {
  margin-left: auto;
}

.add-btn {
  margin-bottom: 1rem;
}

/* This fade css somehow it attached to the remove btn? Figure this out.. May be the transition css?? To all buttons maybe?*/
.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}
/* Fade ends here-----*/
